@import "../../../common/styles/variables";
@import "../../../common/styles/mixins";

.item_container {
	@include flex(center, column, center);
	gap: 5px;
	width: 300px;
	height: 400px;
	border: 2px solid $textColor;
	box-shadow: 0 0 5px $textColor;
	border-radius: 10px;
	transition: all 0.3s;
	background-color: $secondaryBgColor;
	.item_title {
		font-weight: bold;
	}
	img {
		max-height: 296px;
	}
	&:hover {
		transform: scale(1.01);
		cursor: pointer;
	}
}
