@import "../../styles/mixins";
@import "../../styles/variables";

.sort-panel_container {
	@include flex(center, column, center);
	gap: 10px;
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: $secondaryBgColor;
	top: 0;
	right: 50px;
	border: 2px solid $textColor;
	box-shadow: 0 0 5px $textColor;
	border-radius: 10px;
	.sort-panel_form {
		@include flex(center, column, center);
		gap: 5px;
		.sort-panel_controls {
			@include flex(center, row, center);
			gap: 25px;
			font-size: 15px;
			.sort-panel_controls__arrow {
				@include flex(center, row, center);
				transition: all 0.3s;
				font-size: 30px;
				&:hover {
					cursor: pointer;
					color: $activeColor;
				}
			}
			.sort-panel_controls__arrow-desc {
				transition: all 0.3s;
				transform: rotate(180deg);
			}
			.sort-panel_controls__radio {
				@include flex(center, column, flex-start);
				gap: 5px;
				[type="radio"]:checked,
				[type="radio"]:not(:checked) {
					position: absolute;
					left: -9999px;
				}
				[type="radio"]:checked + label,
				[type="radio"]:not(:checked) + label {
					position: relative;
					padding-left: 28px;
					cursor: pointer;
					line-height: 20px;
					display: inline-block;
					color: #666;
				}
				[type="radio"]:checked + label:before,
				[type="radio"]:not(:checked) + label:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 18px;
					height: 18px;
					border: 1px solid #ddd;
					border-radius: 100%;
					background: #fff;
				}
				[type="radio"]:checked + label:after,
				[type="radio"]:not(:checked) + label:after {
					content: '';
					width: 12px;
					height: 12px;
					background: $activeColor;
					position: absolute;
					top: 4px;
					left: 4px;
					border-radius: 100%;
					-webkit-transition: all 0.2s ease;
					transition: all 0.2s ease;
				}
				[type="radio"]:not(:checked) + label:after {
					opacity: 0;
					-webkit-transform: scale(0);
					transform: scale(0);
				}
				[type="radio"]:checked + label:after {
					opacity: 1;
					-webkit-transform: scale(1);
					transform: scale(1);
				}
				.sort-panel_controls__radio-button {
					@include flex(center, row, center);
					gap: 5px;
				}
			}
		}
	}
}
