@import "../../styles/variables";
@import "../../styles/mixins";

.button_container {
	@include flex(center, row, center);
	min-height: 28px;
	border-radius: 10px;
	transition: all 0.3s;
	background-color: $secondaryBgColor;
	padding: 5px 12px;
	font-size: 18px;
	&:hover {
		background-color: $activeColor;
		color: $hoverColor;
		cursor: pointer;
	}
}
